@charset "utf-8";
.container{
	width:100%;
	height:700px;
	padding:0 5%;
	/*color:#00CECE*/
	/*border:#004040 3px solid;*/
}

.index_app{
	width:17.5%;
	height:40%;
	margin:5% 0 0 6%;
	padding:0;
	float:left;
	/*overflow:hidden;*/
	border:#FFF 2px solid;
	border-radius:10px;
	box-shadow:0 5px 15px #666666;
	cursor:pointer;
}

.index_app_pic{
	width:100%;
	height:75%;
}

.index_app_name{
	width:100%;
	height:25%;
	text-align:center;
	color:#FFF;
	font-weight:bold;
	font-size:20px;
	padding-top:10px;
	background-color:#008080;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}