{% extends 'base_index.html' %}
{% load static %}

{% block script %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}特征选择{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 2%">
        <div class="row">
            <button id="uploadButton" type="button" class="btn btn-lg btn btn-success btn-arrow-right"
                    onclick='window.location.href="{% url 'upload' %}"'>数据上传
            </button>
            <button id="showDataButton" type="button" class="btn btn-lg btn btn-success btn-arrow-right"
                    onclick='window.location.href="{% url 'qualitycontrol' dataname %}"'>数据质量检测
            </button>
            <button id="beginFSButton" type="button" class="btn btn-lg btn btn-success btn-arrow-right" disabled
                    onclick='window.location.href="{% url 'domainknowledgeembedding' dataname %}"'>构效关系建模
            </button>
            <button id="beginMLButton" type="button" class="btn btn-lg btn btn-info btn-arrow-right"
                    onclick='window.location.href="{% url 'machinelearning' dataname 'qualitycontrol' %}"'>性能预测
            </button>
        </div>
        <h3 style="margin-top: 2%">领域知识嵌入方式</h3>


        <div class="index_app" id="index_ms" onClick="window.location.href = '{% url "featureselection" dataname %}'">
            <div class="index_app_pic"><img alt="" src="{% static 'image/index_ms.png' %}" width="100%" height="100%">
            </div>
            <div class="index_app_name">
                <div class="index_app_name_word">基于特征核的特征选择</div>
            </div>
        </div>
        <div class="index_app" id="index_ms"
             onClick="window.location.href = '{% url "featureselectionbycontrirules" dataname %}'">
            <div class="index_app_pic"><img alt="" src="{% static 'image/ICSD_Logo.png' %}" width="100%" height="100%">
            </div>
            <div class="index_app_name">
                <div class="index_app_name_word">基于领域知识的特征选择</div>
            </div>
        </div>
        <div class="index_app" id="index_ms"
             onClick="window.location.href = '{% url "featureselectionbyscore" dataname %}'">
            <div class="index_app_pic"><img alt="" src="{% static 'image/index_3ds.png' %}" width="100%" height="100%">
            </div>
            <div class="index_app_name">
                <div class="index_app_name_word">基于特征评分的特征选择</div>
            </div>
        </div>
    </div>
{% endblock %}