{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    {% block meta %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <script type="text/javascript" src="{% static '/static/js/jquery-2.1.4.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static '/static/h-ui.admin/skin/default/skin.css' %}" id="skin" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/h-ui.admin/css/style.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static '/static/css/layui.css' %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static '/static/h-ui/css/H-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/h-ui.icon/iconfont.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/h-ui/css/H-ui.reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/h-ui.admin/css/H-ui.admin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/lib/icheck/icheck.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/style.interface.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/default/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/default/css/bootstrap-table.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/default/css/ace.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/bootstrapSwitch.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/fileinput.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/bootstrap-datetimepicker.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/h-ui/css/icheck.css' %}" />

    <script type="text/javascript" src="{% static '/static/js/layui.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/js/bootstrap-table-export.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/js/tableExport.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/js/jquery.base64.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/js/xlsx.core.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/js/FileSaver.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/static/js/bootstrapValidator.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static '/static/css/bootstrapValidator.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/validationEngine.jquery.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/css/bootstrap-table.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/static/bootstrap3-editable/css/bootstrap-editable.css' %}" />

    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
    {% block style %}{% endblock %}

</head>
<body>
    {% block body %}{% endblock %}
    {% block bodyscript %}{% endblock %}
</body>
</html>
