{% extends 'base_index.html' %}
{% load static %}
{% block title %}质量检测{% endblock %}

{% block script %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bootstrap-table-develop/dist/bootstrap-table.css' %}">

    <script type="text/javascript" src="{% static 'bootstrap-table-develop/dist/bootstrap-table.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.js' %}"></script>

    <link rel="stylesheet" href="{% static 'x-editable-develop/dist/bootstrap3-editable/css/bootstrap-editable.css' %}">
    <script type="text/javascript"
            src="{% static 'x-editable-develop/dist/bootstrap3-editable/js/bootstrap-editable.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bootstrap-table-develop/dist/extensions/editable/bootstrap-table-editable.js' %}"></script>

    <script type="text/javascript"
            src="{% static 'tableExport.jquery.plugin/libs/FileSaver/FileSaver.min.js' %}"></script>
    {#    <script type="text/javascript"#}
    {#            src="{% static 'tableExport.jquery.plugin/libs/js-xlsx/xlsx.core.min.js' %}"></script>#}
    <script type="text/javascript"
            src="{% static 'tableExport.jquery.plugin/libs/js-xlsx/xlsx.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tableExport.jquery.plugin/tableExport.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bootstrap-table-develop/dist/extensions/export/bootstrap-table-export.js' %}"></script>

    <link rel="stylesheet"
          href="{% static 'bootstrap-directional-button/dist/bootstrap-directional-buttons.css' %}">
    <script type="text/javascript" src="{% static 'incubator-echarts-4.7.0/dist/echarts.js' %}"></script>
{% endblock %}

{% block style %}
    <style>
        .w100 .th-inner {
            width: 100px;
        }

        .panel-title > p {
            margin: 0;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container" style="margin-top: 2%;">


        <div class="row">
            <button id="beginFeatureButton" type="button" class="btn btn-lg btn btn-info btn-arrow-right"
                    onclick='window.location.href="{% url 'featureselection' dataname %}"'>特征选择
            </button>
            <button id="beginMLButton" type="button" class="btn btn-lg btn btn-info btn-arrow-right"
                    onclick=' window.location.href="{% url 'machinelearning' dataname %}"'>机器学习
            </button>
            {#                    <div class="col-sm-1">#}
            {#                        <button id="beginPredictButton" type="button" class="btn btn-primary"#}
            {#                                onclick=' window.location.href="{% url 'predict' dataname %}"'>开始预测#}
            {#                        </button>#}
            {#                    </div>#}
        </div>

        <ul class="nav nav-tabs" id="data_tabs" role="tablist" style="padding-top: 2%;">
            <li class="nav-item">
                <a class="nav-link active" href="#raw_data" data-toggle="tab">原始数据</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#stat_quality" data-toggle="tab">数据统计</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#ck_quality" data-toggle="tab">异常检测</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#verbosity" data-toggle="tab">冗余属性筛选</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#data_visualize" data-toggle="tab">数据可视</a>
            </li>
        </ul>

        <div class="tab-content" id="data_tab_content">
            <div class="tab-pane fade show active" id="raw_data" role="tabpanel" aria-labelledby="raw_data_tab">
                <div class="row">
                    <div class="col-sm-12" style="overflow:auto;">
                        <table id="raw_table"
                               class="table table-sm table-hover table-responsive"></table>
                    </div>
                </div>
                <div class="row">
                    <h6>注：&nbsp;&nbsp;&nbsp;&nbsp;上表内容为原始数据</h6>
                </div>
            </div>

            <div class="tab-pane fade" id="stat_quality" role="tabpanel" aria-labelledby="data_statistics_tab">
                <div class="row">
                    <div class="col-sm-12 table-responsive" style="overflow:auto;">
                        <table id="stat_table"
                               class="table table-sm table-bordered table-hover table-responsive"></table>
                    </div>
                </div>
                <div class="row">
                    <h6>注：&nbsp;&nbsp;&nbsp;&nbsp;上表内容为数据的基本统计信息</h6>
                </div>
            </div>

            <div class="tab-pane fade" id="ck_quality" role="tabpanel" aria-labelledby="data_check_tab">
                <div class="row">
                    <div class="form-group">
                        <label for="dc_method">异常样本检测算法：</label>
                        <select name="dc_method_name" class="form-control" id="dc_method">
                            {% for k, v in algo.items %}
                                <option value="{{ k }}">{{ k }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 table-responsive" style="overflow:auto;">
                        <table id="dc_table" class="table table-sm table-bordered table-hover table-responsive"></table>
                    </div>
                </div>
                <div class="row">
                    <h6>注：&nbsp;&nbsp;&nbsp;&nbsp;黄色背景的单元格表示该值超出本列盒图统计值的上下限</h6>
                </div>
            </div>

            <div class="tab-pane fade" id="verbosity" role="tabpanel" aria-labelledby="verbosity_tab">
                <div class="row"><h5>&nbsp;&nbsp;&nbsp;&nbsp;本标签页下显示Pearson系数较高的属性组</h5></div>
                <div class="row"><h5>&nbsp;&nbsp;&nbsp;&nbsp;用户可根据实际情况筛选独立属性</h5></div>
                <div class="row">
                    <div id="corrchart" style="width: 1000px;height:600px;"></div>
                    <table class="table table-sm table-bordered table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>属性1</th>
                            <th>属性2</th>
                            <th>Pearson's r</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tuple in pearsonr %}
                            <tr>
                                <td>{{ tuple.0 }}</td>
                                <td>{{ tuple.1 }}</td>
                                <td>{{ tuple.2 }}</td>
                                <td><a href="{% url 'setverbose' dataname forloop.counter0 %}">标记冗余属性</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="data_visualize" role="tabpanel" aria-labelledby="data_visualize_tab">
                <div class="row">
                    <h5>&nbsp;&nbsp;&nbsp;&nbsp;本标签页下显示样本各维度属性的分布信息</h5>
                </div>
                <div class="row">
                    <div class="col-2">
                        {#                        <div class="nav flex-column nav-tabs" id="chart_tabs" role="tablist"#}
                        {#                             aria-orientation="vertical">#}
                        <ul class="nav flex-column" id="chart_tabs" role="tablist">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    下拉查看
                                </a>
                                <div class="dropdown-menu">
                                    {% with data|first as dm %}
                                        {% for i in dm %}
                                            <a class="nav-link dropdown-item" id="chart_tab{{ forloop.counter0 }}"
                                               data-toggle="tab"
                                               role="tab" href="#chart{{ forloop.counter0 }}"
                                               aria-selected="true">{{ i }}</a>
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                            </li>
                        </ul>
                        {#                        </div>#}
                    </div>
                    <div class="col-10">
                        <div class="tab-content" id="chart_content">

                            {% with data|first as dm %}
                                {% for i in dm %}
                                    {% if forloop.counter0 == col_start %}
                                        <div class="tab-pane fade show active" id="chart{{ forloop.counter0 }}"
                                             role="tabpanel" aria-labelledby="chart_tab{{ forloop.counter0 }}">
                                            <div id="data_chart{{ forloop.counter0 }}"
                                                 style="width: 600px; height: 400px"></div>
                                        </div>
                                    {% else %}
                                        {% if forloop.counter0 > col_start %}
                                            <div class="tab-pane fade" id="chart{{ forloop.counter0 }}" role="tabpanel"
                                                 aria-labelledby="chart_tab{{ forloop.counter0 }}">
                                                <div id="data_chart{{ forloop.counter0 }}"
                                                     style="width: 600px; height: 400px"></div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script type="text/javascript">

        function isInteger(arg) {
            return new RegExp("^[0-9]*$").test(arg)
        }

        function isFloat(arg) {
            return new RegExp("^(-?\\d+)(\\.\\d+)?$").test(arg)
        }

        function stat_name_mapper(fn) {
            let temp = {};
            temp["count"] = "样本数";
            temp["mean"] = "平均值";
            temp["std"] = "标准差";
            temp["min"] = "最小值";
            temp["max"] = "最大值";
            temp["range"] = "极差";
            temp["IQR"] = "四分位距";
            temp["lower"] = "值下限";
            temp["upper"] = "值上限";
            temp["geomean"] = "几何平均值";
            temp["skew"] = "偏度";
            temp["25%"] = "下四分位数";
            temp["50%"] = "中位数";
            temp["75%"] = "上四分位数";
            return temp[fn]
        }

        let sampleList = [];
        $.ajax({
            url: '/data/' + '{{ dataname }}',
            type: 'get',
            async: true,
            success: function (res) {
                sampleList = eval(res);
                let sampleColumns = [];

                for (let key in sampleList[0]) {
                    if (sampleList[0].hasOwnProperty(key)) {
                        sampleColumns.push({
                            title: $('<div/>').text(key).html(),
                            field: key,
                            visible: true,
                            formatter: function (value) {
                                if (!isFloat(value)) {
                                    return value;  // if value is not float or integer, return value
                                }
                                if (isInteger(value)) {
                                    return value;  // if value is integer, return value
                                }
                                return value.toFixed(5);  // if value is float, return fixed float
                            }
                        });
                    }
                }

                $('#raw_table').bootstrapTable({
                    data: sampleList,
                    datatype: 'json',
                    pagination: true,
                    pageSize: '15',
                    columns: sampleColumns,
                    showColumns: true,
                    showToggle: true,
                    search: true,
                    showExport: true,
                    exportDataType: "all",
                    exportTypes: ['excel', 'xlsx', 'csv', 'json', 'txt', 'xml'],
                });
            }
        });

        let statList = [];
        $.ajax({
            url: '/data/' + 'stat_data_quality_' + '{{ dataname }}',
            type: 'get',
            async: true,
            success: function (res) {
                statList = eval(res);
                let statColumns = [];

                statColumns.push({
                    title: '',
                    class: 'w100',
                    field: "dataQualityField"
                })

                let dataqualityfields = [];

                for (let item in statList[0]) {
                    if (statList[0].hasOwnProperty(item)) {
                        for (let fn in statList[0][item]) {
                            if (statList[0][item].hasOwnProperty(fn)) {
                                let temp = {};
                                temp["dataQualityField"] = stat_name_mapper(fn);
                                for (let iii in statList) {
                                    if (statList.hasOwnProperty(iii)) {
                                        for (let iain in statList[iii]) {
                                            if (statList[iii].hasOwnProperty(iain)) {
                                                if (isInteger(statList[iii][iain][fn])) {
                                                    temp[iain] = statList[iii][iain][fn]
                                                } else {
                                                    temp[iain] = statList[iii][iain][fn].toFixed(5);
                                                }
                                            }
                                        }
                                    }
                                }
                                dataqualityfields.push(temp)
                            }
                        }
                    }
                }
                for (let idx = 0; idx < statList.length; idx++) {
                    for (let key in statList[idx]) {
                        if (statList[idx].hasOwnProperty(key)) {
                            statColumns.push({
                                title: $('<div/>').text(key).html(),
                                field: key,
                            })
                        }
                    }
                }

                $('#stat_table').bootstrapTable({
                    data: dataqualityfields,
                    datatype: 'json',
                    pagination: true,
                    pageSize: '15',
                    editable: {type: "text"},
                    columns: statColumns,
                    showColumns: true,
                    showToggle: true,
                    search: true,
                    showExport: true,
                    exportDataType: "all",
                    exportTypes: ['excel', 'xlsx', 'csv', 'json', 'txt', 'xml'],
                });
            }
        });

        let algoList = [];
        $.ajax({
            url: '/data/' + 'algo_data_quality_' + '{{ dataname }}',
            type: 'get',
            async: true,
            success: function (res) {
                algoList = eval(res);
                console.log('algo:', algoList);
            }
        });

        let eudistList = [];
        $.ajax({
            url: '/data/' + 'eudist_data_quality_' + '{{ dataname }}',
            type: 'get',
            async: true,
            success: function (res) {
                eudistList = eval(res);
                console.log('eudist:', eudistList);
                let suspected = [];
                for (let idx = 0; idx < eudistList.length; idx++) {
                    suspected.push(eudistList[idx]['NO'])
                }
                console.log(suspected)
            }
        });

        $(function () {
            let data = {{ data|safe }};
            let stat = {{ stat|safe }};
            let eudist = {{ eudist|safe }};
            let algo ={{ algo|safe }};

            let editable = {type: "text"};

            let suspected = [];
            for (let it in eudist) {
                if (eudist.hasOwnProperty(it)) {
                    suspected.push(eudist[it]['NO'])}}

            let raw_data = JSON.parse(JSON.stringify(data)); // 深拷贝 修改rawdata不影响data
            //var quality_title = [];
            //var raw_title = [];

            //raw_title.push({title: 'NO', class: 'w100', field: "NO",});

            //quality_title.push({title: '', class: 'w100', field: "dataQualityField"});

            {#var dataqualityfields = [];#}
            {#for (var item in stat) {#}
            {#    for (var fn in stat[item]) {#}
            {#        var temp = {};#}
            {#        temp["dataQualityField"] = stat_name_mapper(fn);#}
            {#        for (var iiiii in stat) {#}
            {#            temp[iiiii] = stat[iiiii][fn].toFixed(5);#}
            {#        }dataqualityfields.push(temp);}break;}#}

            {#for (var item in stat) {#}
            {#    raw_title.push({#}
            {#        field: item,#}
            {#        class: 'w100',#}
            {#        title: $('<div/>').text(item).html(),});#}
            {#    quality_title.push({#}
            {#        field: item,#}
            {#        class: 'w100',#}
            {#        title: $('<div/>').text(item).html(),});}#}

            for (let i in raw_data) {
                if (raw_data.hasOwnProperty(i)) {
                    for (let j in raw_data[i]) {
                        if (raw_data[i].hasOwnProperty(j)) {
                            if (typeof (raw_data[i][j]) == 'number' && j !== 'NO') {
                                raw_data[i][j] = raw_data[i][j].toFixed(5);
                            }
                        }
                    }
                }
            }

            var check_title = [];
            check_title.push({
                title: '操作',
                formatter: function (value, row, index) {
                    let idx = index;
                    let url = "{% url 'edit' dataname 12345 %}";  // django 模板语言不支持使用JS变量，故用12345作占位符再替换
                    url = url.replace(12345, idx);
                    let s = '<a href="' + url + '">修改</a>';
                    return [s].join("")
                }
            });

            let lower = {};
            let upper = {};
            for (let item in stat) {
                if (stat.hasOwnProperty(item)){
                    lower[item] = stat[item]['lower'];
                    upper[item] = stat[item]['upper'];
                }
            }
            let idx = 1;
            for (let i in data[0]) {
                if (data[0].hasOwnProperty(i)){
                    if (typeof (data[0][i]) == 'number') {
                        check_title[idx] = {
                            field: i,
                            title: $('<div/>').text(i).html(),
                            formatter: function (value) {
                                if (!isInteger(value)) {
                                    return value.toFixed(5);
                                }
                                return value;
                            },
                            cellStyle: function (value, row, index, field) {
                                if (value === '' || undefined) {
                                    return {css: {"background-color": 'red'}};
                                } else if ((Number(value) < Number(lower[field]) || Number(value) > Number(upper[field]))) {
                                    return {css: {"background-color": 'yellow'}};
    //                            } else if (suspected.includes(index) && field === 'NO') {
    //                                return {css: {"background-color": 'yellow'}};
                                } else {
                                    return {}
                                }
                            },

                        };
                        idx++;
                    }
                }
            }

            {#$('#raw_table').bootstrapTable({#}
            {#    data: raw_data,#}
            {#    datatype: 'json',#}
            {#    pagination: true,#}
            {#    pageSize: '15',#}
            {#    editable: editable,#}
            {#    columns: raw_title,#}
            {#    showColumns: true,#}
            {#    showToggle: true,#}
            {#    search: true,#}
            {#    showExport: true,#}
            {#    exportDataType: "all",#}
            {#    exportTypes: ['excel', 'xlsx', 'csv', 'json', 'txt', 'xml'],#}

            {#$('#stat_table').bootstrapTable({#}
            {#    data: dataqualityfields,#}
            {#    datatype: 'json',#}
            {#    pagination: true,#}
            {#    pageSize: '15',#}
            {#    editable: editable,#}
            {#    columns: quality_title,#}
            {#    showColumns: true,#}
            {#    showToggle: true,#}
            {#    search: true,#}
            {#    showExport: true,#}
            {#    exportDataType: "all",#}
            {#    exportTypes: ['excel', 'xlsx', 'csv', 'json', 'txt', 'xml'],#}

            $('#dc_table').bootstrapTable({
                method: 'post',
                data: data,
                datatype: 'json',
                pagination: true,
                pageSize: '15',
                columns: check_title,
                showColumns: true,
                showToggle: true,
                search: true,
                showExport: true,
                exportDataType: "all",
                exportTypes: ['excel', 'xlsx', 'csv', 'json', 'txt', 'xml'],
                exportOptions: {ignoreColumn: [0]},
//                rowStyle: function (row, index) {
//                    if (suspected.includes(index)) {
//                        return {css: {"background-color": 'yellow'}}
//                    } else {
//                        return {}
//                    }
//                    for (var i in algo['llof']) {
//                        if (index === i) {
//                            return {css: {"color": 'red'}}
//                        }
//                    }
//                    for (var i in algo['lif']) {
//                        if (index === i) {
//                            return {css: {"color": 'red'}}
//                        }
//                    }
//                    return {};
//                },

                rowAttributes: function (row, index) {
                    if (suspected.includes(index)) {
                        var cnt;
                        for (let it in eudist) {
                            if (eudist.hasOwnProperty(it)) {
                                if (index === eudist[it]['NO']) {
                                    cnt = eudist[it]['count'];
                                }
                            }
                        }
                        return {
                            'data-toggle': 'popover',
                            'data-placement': 'bottom',
                            'data-trigger': 'hover',
                            'data-index': index,
                            'title': ['NO:' + index, '该样本与其他' + cnt + '个样本规则差异大'].join(',')
                        }
                    } else {
                        return {}
                    }
                }

            });
        })
    </script>


    <script type="text/javascript">

        let rawdata = {{ data|safe }};
        let datafield = {};  // {field: [value]}

        for (let ii in rawdata[0]) {
            if (rawdata[0].hasOwnProperty(ii)) {
                datafield[ii] = [];
                for (let iii = 0; iii < rawdata.length; iii++) {
                    datafield[ii].push(rawdata[iii][ii]);
                }
            }
        }

        let fields = [];
        for (let i in datafield) {
            fields.push(i);
        }

        for (let i = 0; i < Object.keys(datafield).length; i++) {
            try {
                let data_chart = echarts.init(document.getElementById('data_chart' + i.toString()));
                data_chart.setOption({
                    title: {text: fields[i]},
                    xAxis: {
                        data: datafield['NO']
                    },
                    yAxis: {},
                    series: [{
                        type: 'bar',
                        data: datafield[fields[i]]
                    }]
                });
            } catch (e) {
                console.log(i);
                console.log(e);
                continue
            }
        }
    </script>

    <script type="text/javascript ">
        {#import compatStyle from "../static/incubator-echarts-4.7.0/src/preprocessor/helper/compatStyle";#}

        let attr = [];
        let attrcorr = [];

        {% for i in pearsonr %}
            if (!attr.includes('{{ i.0 }}')) {
                attr.push('{{ i.0 }}')
            }
            if (!attr.includes('{{ i.1 }}')) {
                attr.push('{{ i.1 }}')
            }
            attrcorr.push(['{{ i.0 }}', '{{ i.1 }}', {{ i.2 }}]);
            attrcorr.push(['{{ i.1 }}', '{{ i.0 }}', {{ i.2 }}]);
        {% endfor %}
        {#console.log(attr);#}

        let corrchart = echarts.init(document.getElementById('corrchart'));
        corrchart.setOption({
            tooltip: {
                position: 'top'
            },
            animation: false,
            xAxis: {
                type: 'category',
                data: attr,
                splitArea: {
                    show: true
                }
            },
            yAxis: {
                type: 'category',
                data: attr,
                splitArea: {
                    show: true
                }
            },
            visualMap: {
                min: 0.8,
                max: 1,
                orient: 'horizontal',
                left: 'center',

            },
            series: [{
                type: 'heatmap',
                data: attrcorr,
                label: {show: false},
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }]
        })


    </script>
{% endblock %}