<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Test</title>

    <script type="text/javascript" src="../static/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="../static/popper-1.14.3/esm/popper.js"></script>
    <script src="../static/popper-1.14.3/umd/popper.js"></script>

    <link rel="stylesheet" href="../static/bootstrap-4.4.1-dist/css/bootstrap.css">
    <script type="text/javascript" src="../static/bootstrap-4.4.1-dist/js/bootstrap.js"></script>


</head>
<body>

<div class="container">
    <div class="row">
        <strong><label for="abc">this is label</label></strong>
        <input type="text" id="abc" name="abc" value="123" class="form-control">
    </div>
</div>

</body>
</html>